<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bms.rabbit">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RabbitApp"
        android:allowBackup="true"
        android:icon="@drawable/clevy_icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name="com.bms.rabbit.features.main.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.bms.rabbit.bullshit.AlarmEducationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.bms.rabbit.bullshit.AlarmNotifyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--<activity-->
            <!--android:name="com.bms.rabbit.bullshit.EducationActivity"-->
            <!--android:label="@string/title_activity_main2"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name="com.bms.rabbit.bullshit.TestActivity"-->
            <!--android:label="@string/title_activity_test"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name="com.bms.rabbit.bullshit.FinalActivity"-->
            <!--android:label="@string/title_activity_final"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity android:name="com.bms.rabbit.bullshit.ShowCaseActivity"/>-->

        <!--<service android:name="com.bms.rabbit.bullshit.FireBaseService"-->
            <!--android:permission="">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c763b65219a008a3395a4d22159d49ab3bab49e3" />

    </application>


</manifest>